﻿<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET MVC Exam</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body>
   
    <nav class="navbar navbar-default" role="navigation">
        
        <div class="navbar-header">
           
            <a class="navbar-brand" href="/Home/Index">ASP.NET MVC Exam</a>
        </div>

      
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Home/About">Change Password</a></li>
                <li><a href="/Home/Contact">Check Details</a></li>
                <li><a href="/Home/Contact">Leave Application</a></li>
                <li><a href="/Home/Contact">Application Status</a></li>
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
                <li>
                    Welcome @ViewBag.UserName
                    @if (ViewBag.UserName != "")
                    {
                        <a href="/Login/Signout">Logout</a>
                    }
                    else
                    {
                        <a href="/Login/SignIn">Login</a>
                    }

                </li>
                
            </ul>
        </div>
    </nav>

  
    <footer style="width: 100%; height: 50px; background-color: green;  position: absolute; bottom: 0px; ">
        <p style="text-align: center;color: white;">
            This is Footer
        </p>
    </footer>
   
</body>

</html>