﻿
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/MainMasterLayOut.cshtml";
}

<h2>ChangePassword</h2>


<form action="/Login/ChangePassword" method="POST">
    <table class="table table-hover table-bordered table-striped">
        <tbody>
            <tr>
                <td>Old Password</td>
                <td>
                    <input type="Password" name="OldPassword">
                </td>
            </tr>
            <tr>
                <td>New Password</td>
                <td>
                    <input type="Password" name="NewPassword">
                </td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>
                    <input type="Password" name="ConfirmPassword">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="Submit" name="btnLogin" value="Sign In">
                </td>
            </tr>

        </tbody>
    </table>
    <p style="color:red">@ViewBag.ErrorMessage</p>
</form>

