﻿
@{
    ViewBag.Title = "LeaveApplication";
    Layout = "~/Views/Shared/MainMasterLayOut.cshtml";
}

<h2>LeaveApplication</h2>

<form action="/Home/LeaveApplication" method="POST">
    <table class="table table-hover table-bordered table-striped">
        <tbody>
            <tr>
                <td>User Name</td>
                <td>
                    <input type="text" name="username">
                </td>
            </tr>
            <tr>
                <td>Leave Type</td>
                <td>
                    <input type="text" name="LeaveType">
                </td>
            </tr>
            <tr>
                <td>Balance Leaves</td>
                <td>
                    <input type="number" name="BalanceLeaves">
                </td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>
                    <input type="date" name="StartDate">
                </td>
            </tr>
            <tr>
                <td>Number Of Days</td>
                <td>
                    <input type="number" name="NumberOfDays">
                </td>
            </tr>
            <tr>
                <td>Purpose of Leave</td>
                <td>
                    <input type="text" name="Purpose">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="Submit" name="btnLogin" value="submit">
                </td>
            </tr>

        </tbody>
    </table>
    <p style="color:red">@ViewBag.ErrorMessage</p>
</form>

