﻿
@{
    ViewBag.Title = "LeaveHistory";
    Layout = "~/Views/Shared/MainMasterLayOut.cshtml";
}




<div class="container">


<h2>Leave History</h2>

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Application Number</th>
                    <th>Username</th>
                    <th>Leave Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Apply Date</th>
                    <th>Number Of Days</th>
                    <th>Leave Purpose</th>
                    <th>Status</th>
                </tr>
                @foreach (var emp in Model)
                {
            <tr>
                <td> @emp.No </td>
                <td> @emp.EmpName </td>
                <td> @emp.LeaveTYpe </td>
                <td> @emp.StartDate </td>
                <td> @emp.EndDAte </td>
                <td> @emp.ApplyDate </td>
                <td> @emp.NumberOfDays </td>
                <td> @emp.LeavePurpose </td>
                <td> @emp.Status </td>
                
            </tr>
                }
            </table>
        </div>





    </div>
    <div class="col-md-3"></div>



   
    </div>

